<% if (is_archive() == true) { %>
    <ul><%= __('archives') %> >
        <li><%- page.year %>年 > <%- page.month %>月</li>
    </ul>
<% } else if (is_category() == true) { %>
    <p class="title mx-0 my-0">
      <%= __('categories') %>
    </p>
<% } else if (is_tag() == true) { %>
    <p class="title mx-0 my-0">
      <%= __('tags') %> >
    </p>
<% } %>
