<li class="breadcrumbs_li">
    <a class="breadcrumbs_link" href="/">
        <%= __('categories') %>
    </a>
</li>
<li class="breadcrumbs_li">
    <% const category_slug = page.path.replace(config.category_dir + '/', '').replace(/\/page\/.+/,'').replace(/\/index.html/, '').split('/'); %>
    <% let category_url = ''; %>

    <% category_slug.forEach(function(item, i){ %>
        <% category_url += '/' + item; %>
        <% const category_name = Object.keys(config.category_map).filter( (key) => { %>
            <% return config.category_map[key] === item; %>
        <% }); %>
        <a class="breadcrumbs_link" href="/<%= config.category_dir %><%= category_url %>/">
            <% if (category_name.length === 0) { %>
                <%= item %>
            <% } else { %>
                <%= category_name %>
            <% } %>
        </a>
    <% }); %>
</li>

<% if(page.current !== 1){ %>
    <li class="breadcrumbs_li">
        <a class="breadcrumbs_link" href="/<%= config.category_dir %><%= category_url %>/page/<%= page.current %>/">
            __('page')<%= page.current %>
        </a>
    </li>
<% } %>
