<li class="breadcrumbs_li">
    <a class="breadcrumbs_link" href="<%= page.date.format('YYYY') %>">
        <%= page.date.format('YYYY') %>
    </a>
</li>
<li class="breadcrumbs_li">
    <a class="breadcrumbs_link" href="<%= page.date.format('MM') %>">
        <%= page.date.format('MM') %>
    </a>
</li>
<li class="breadcrumbs_li">
    <a class="breadcrumbs_link" href="<%- url_for(path) %>">
        <%- page.title %>
    </a>
</li>
