<li class="breadcrumbs_li">
    <a class="breadcrumbs_link" href="/">
        <%= __('tags') %>
    </a>
</li>
<li class="breadcrumbs_li">
    <% const tag_slug = page.path.replace(config.tag_dir + '/', '').replace(/\/page\/.+/,'').replace(/\/index.html/, '').split('/'); %>
    <% let tag_url = ''; %>

    <% tag_slug.forEach(function(item, i){ %>
        <% tag_url += '/' + item; %>
        <% const tag_name = Object.keys(config.tag_map).filter( (key) => { %>
            <% return config.tag_map[key] === item; %>
        <% }); %>
        <a class="breadcrumbs_link" href="/<%= config.tag_dir %><%= tag_url %>/">
            <% if( tag_name.length === 0 ) { %>
                <%= item %>
            <% } else { %>
                <%= tag_name %>
            <% } %>
        </a>
    <% }); %>
</li>

<% if(page.current !== 1){ %>
<li class="breadcrumbs__item">
    <a class="breadcrumbs__item-link" href="/<%= config.tag_dir %><%= tag_url %>/page/<%= page.current %>/">
        __('page')<%= page.current %>
    </a>
</li>
<% } %>
