<a href="<%- config.root %><%- item.path %>">
    <button type="button" class="btn btn-primary btn-sm" href="<%- config.root %><%- item.path %>" data_but="btn-xs">
        <%= __('read_more') %>
    </button>
</a>
