<% if (theme.email_url) { %>
    <a href="<%- theme.email_url %>" target="_blank"><i class="fa fa-envelope-o mx-2"></i></a>
<% } %>
<% if (theme.twitter_url) { %>
    <a href="<%- theme.twitter_url %>" target="_blank"><i class="fa fa-twitter mx-2"></i></a>
<% } %>
<% if (theme.facebook_url) { %>
    <a href="<%- theme.facebook_url %>" target="_blank"><i class="fa fa-facebook mx-2"></i></a>
<% } %>
<% if (theme.youtube_url) { %>
    <a href="<%- theme.youtube_url %>" target="_blank"><i class="fa fa-youtube mx-2"></i></a>
<% } %>
<% if (theme.instagram_url) { %>
    <a href="<%- theme.instagram_url %>" target="_blank"><i class="fa fa-instagram mx-2"></i></a>
<% } %>
<% if (theme.linkedin_url) { %>
    <a href="<%- theme.linkedin_url %>" target="_blank"><i class="fa fa-linkedin mx-2"></i></a>
<% } %>
<% if (theme.dribbble_url) { %>
    <a href="<%- theme.dribbble_url %>" target="_blank"><i class="fa fa-dribbble mx-2"></i></a>
<% } %>
<% if (theme.github_url) { %>
    <a href="<%- theme.github_url %>" target="_blank"><i class="fa fa-github mx-2"></i></a>
<% } %>
<% if (theme.googleplus_url) { %>
    <a href="<%- theme.googleplus_url %>" target="_blank"><i class="fa fa-google-plus mx-2"></i></a>
<% } %>
<% if (theme.behance_url) { %>
    <a href="<%- theme.behance_url %>" target="_blank"><i class="fa fa-behance mx-2"></i></a>
<% } %>
<% if (theme.fivehundredpx_url) { %>
    <a href="<%- theme.fivehundredpx_url %>" target="_blank"><i class="fa fa-500px mx-2"></i></a>
<% } %>
