<aside class="card mx-2 my-2 sidebar-sticky">
    <% if (is_home() || is_page() || is_tag() || is_category() || is_archive()) { %>
        <% theme.widgets.forEach(function(widget){ %>
            <%- partial('_widget/' + widget, { item: page }) %>
            <%- partial('parts/holizontal_line') %>
        <% }) %>
    <% } else if (is_post()){ %>
        <%- partial('_widget/toc', { item: page }) %>
        <%- partial('parts/holizontal_line') %>
    <% } %>
    <div class="col-12 text-center mb-3">
        <%- partial('link/top', { item: page }) %>
    </div>
</aside>
