<!-- post-full -->
<main class="card mx-2 my-2">
	<section class="row mx-3 my-3">
		<%- partial('parts/cover_image', { item: page }) %>
	</section>
	<section class="row mx-auto mx-3 my-0">
		<%- partial('parts/title', { item: page }) %>
	</section>
	<section class="row mx-auto mx-3 my-0">
		<%- partial('parts/date', { item: page }) %>
	</section>
	<%- partial('parts/holizontal_line') %>
	<section class="row mx-3 my-3">
		<%- partial('parts/content', { item: page }) %>
	</section>
</main>
