<!-- post-index -->
<main class="card mx-2 my-2">
	<% page.posts.forEach(function(item, index){ %>
		<section class="row no-gutters mx-3 my-3">
			<%- partial('parts/cover_image', { item: item }) %>
		</section>
		<section class="row mx-auto mx-3 my-0">
			<%- partial('parts/title', { item: item }) %>
		</section>
		<section class="row mx-auto mx-3 my-3">
			<%- partial('parts/date', { item: item }) %>
		</section>
		<%- partial('parts/holizontal_line') %>
	<% }); %>
	<%- partial('_partial/pagination') %>
</main>
